<div class="div-center">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/districts">Bezirke</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/newspapers">Zeitungen</a>
    </li>
  </ul>
  <br>
  <h4>Neuen Kunden erstellen</h4>
  <br>
  <%= render 'form', customer: @customer %>
  <br>
  <%= link_to 'Zurück', district_customers_path, class: "btn btn-outline-secondary" %>
</div>