<div class="div-center">
  <h3>Neuen Kunden erstellen</h3>

  <%= render 'form', customer: @customer %>

  <br><br>

  <%= link_to 'Zurück', district_customers_path, class: "btn btn-outline-secondary" %>
</div>