<div class="div-center">
  <h3>Neues Abonnement erstellen</h3>

  <%= render 'form', subscription: @subscription %>

  <br><br>

  <%= link_to 'Zurück', district_subscriptions_path, class: "btn btn-outline-secondary" %>
</div>