<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Zeitungen</th>
    </tr>
  </thead>
  <tbody>
    <% @newspapers.each do |newspaper| %>
      <tr>
        <td><%= newspaper.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>