<div class="div-center">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/districts">Bezirke</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/newspapers">Zeitungen</a>
    </li>
  </ul>
  <br>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      <% @newspapers.each do |newspaper| %>
        <tr>
          <td><%= newspaper.full_name %></td>
          <td><%= newspaper.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>