.donnerstag {
  background-color: pink;
}

.wochenende {
  background-color: rgb(250, 250, 153);
}

.days {
  padding: 3px;
  font-size: 13px;
}

.button_new {
  padding: 25px;
}

.disabled {
  color: rgb(220, 220, 220);
}

.enabled {
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(50, 50, 50);
}

a {
  color: gray;
}